@model List<Activity2Part1.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Button</title>
</head>
<body>
    <div class="container" style="font-family: Arial">
        <h3 class=" text-center"><strong>@Html.Label("Welcome to Razor")</strong></h3>
        <h4><strong>@Html.Label("Play with Buttons")</strong></h4>
    </div>
    <div class="container">
        @using (Html.BeginForm("OnButtonClick", "Button", FormMethod.Post))
        {
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {<img src="~/Images/On.jpg" /> }
                else
                { <img src="~/Images/Off.jpg" />}
            </button>
            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {<img src="~/Images/On.jpg" /> }
                else
                { <img src="~/Images/Off.jpg" />}
            </button><br />
        }
    </div>
</body>
</html>
